<div #map class="h-dvh" [cdkContextMenuTriggerFor]="contextMenu" (contextmenu)="$event.preventDefault(); this.contextMenuPosition.set($event);"></div>


<!-- Map controls -->
<div class="absolute top-4 left-4 z-500 flex flex-col gap-2">

  <!-- Zoom -->
  <app-button-group>
    <button appButton (click)="this.zoom('in')">
      <app-icon icon="plus" />
    </button>

    <button appButton (click)="this.zoom('out')">
      <app-icon icon="minus" />
    </button>
  </app-button-group>

  <!-- Location -->
  <app-button-group>
    <button appButton (click)="this.setDefaultPosition()">
      <app-icon icon="map-pin" />
    </button>

    <button appButton (click)="this.resetPosition()">
      <app-icon icon="viewfinder-circle" />
    </button>
  </app-button-group>

  <!-- Refresh -->
  <app-button-group>
    <button appButton (click)="this.triggerTimer()" [disabled]="this.isLoading()">
      <app-icon icon="arrow-path" />
    </button>
  </app-button-group>

  <!-- Settings -->
  <!-- <app-button-group>
    <button appButton disabled>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
        <path fill-rule="evenodd" d="M8.34 1.804A1 1 0 0 1 9.32 1h1.36a1 1 0 0 1 .98.804l.295 1.473c.497.144.971.342 1.416.587l1.25-.834a1 1 0 0 1 1.262.125l.962.962a1 1 0 0 1 .125 1.262l-.834 1.25c.245.445.443.919.587 1.416l1.473.294a1 1 0 0 1 .804.98v1.361a1 1 0 0 1-.804.98l-1.473.295a6.95 6.95 0 0 1-.587 1.416l.834 1.25a1 1 0 0 1-.125 1.262l-.962.962a1 1 0 0 1-1.262.125l-1.25-.834a6.953 6.953 0 0 1-1.416.587l-.294 1.473a1 1 0 0 1-.98.804H9.32a1 1 0 0 1-.98-.804l-.295-1.473a6.957 6.957 0 0 1-1.416-.587l-1.25.834a1 1 0 0 1-1.262-.125l-.962-.962a1 1 0 0 1-.125-1.262l.834-1.25a6.957 6.957 0 0 1-.587-1.416l-1.473-.294A1 1 0 0 1 1 10.68V9.32a1 1 0 0 1 .804-.98l1.473-.295c.144-.497.342-.971.587-1.416l-.834-1.25a1 1 0 0 1 .125-1.262l.962-.962A1 1 0 0 1 5.38 3.03l1.25.834a6.957 6.957 0 0 1 1.416-.587l.294-1.473ZM13 10a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" clip-rule="evenodd" />
      </svg>
    </button>
  </app-button-group> -->

</div>


@let date = this.currentRadarImage()?.radarImage?.date;
@if (date) {
  <!-- Time information -->
  <div class="absolute top-0 left-1/2 transform -translate-x-1/2 w-56 z-500 text-center bg-color-background border border-t-0 border-color-border rounded-b-lg">
    <div class="py-0.5 font-mono text-xl">
      {{ date | date: 'd.MM.yyyy HH:mm' }}
    </div>
    <div class="w-full py-0.5 text-center text-xs border-t border-color-border">
      Refreshed at <span class="font-mono">{{ this.refreshedAt() | date: 'HH:mm' }}</span>
    </div>
  </div>


  <!-- Slider -->
  <div class="absolute bottom-0 left-1/2 px-4 pt-2 pb-4 w-xl max-w-full transform -translate-x-1/2 z-500 bg-color-background border border-b-0 border-color-border rounded-t-lg">
    <input type="range" [formField]="this.form.slider" step="1" list="markers" class="w-full not-disabled:cursor-pointer" />

    <datalist id="markers">
      @for (_ of this.radarImages(); track _.radarImage.date) {
        <option [value]="$index"></option>
      }
    </datalist>
  </div>
}



<ng-template #contextMenu>
  <div class="min-w-56 py-1 rounded-lg text-sm shadow-xl/30 bg-color-background border border-color-border" cdkMenu>
    @for (item of this.contextMenu; track item) {
      <button
        cdkMenuItem
        (click)="item.action(this.contextMenuPosition()!)"
        [disabled]="item.disabled?.() ?? false"
        [class.hidden]="!(item.visible?.() ?? true)"
        class="w-full px-4 py-1.5 text-start not-disabled:cursor-pointer focus:outline-0 hover:not-disabled:bg-color-background-hover hover:not-disabled:text-color-text-hover disabled:text-color-disabled">
        {{ item.text }}
      </button>
    }
  </div>
</ng-template>
