@import 'tailwindcss';

@theme {
  --color-color-background: light-dark(var(--color-white), var(--color-neutral-900));
  --color-color-background-hover: light-dark(var(--color-neutral-200), var(--color-neutral-800));
  --color-color-background-active: light-dark(var(--color-neutral-300), var(--color-neutral-700));

  --color-color-text: light-dark(var(--color-neutral-800), var(--color-neutral-300));
  --color-color-text-hover:light-dark(var(--color-black), var(--color-neutral-100));
  --color-color-disabled: light-dark(var(--color-neutral-400), var(--color-neutral-600));

  --color-color-border: light-dark(var(--color-gray-400), var(--color-neutral-600));

  --font-sans: "Roboto Variable", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: "Roboto Mono Variable", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@utility pixelated {
  image-rendering: pixelated;
}
